datafactory/pipeline/raw_xlsx_core.json
{
	"name": "raw_xlsx_core",
	"properties": {
		"activities": [
			{
				"name": "Obtener_Lista",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_CSV",
						"type": "DatasetReference",
						"parameters": {
							"zona": "raw",
							"directorio": "CONFIG",
							"archivo": "lista_tablas.txt"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Importar Data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Obtener_Lista",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Obtener_Lista').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_Data_XLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"maxConcurrentConnections": 2,
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_XLSX",
									"type": "DatasetReference",
									"parameters": {
										"zona": "raw",
										"directorio": {
											"value": "FMV/EXCEL",
											"type": "Expression"
										},
										"archivo": {
											"value": "@concat('FMV_',item().Lista_Tablas,'.xlsx')",
											"type": "Expression"
										},
										"hoja": {
											"value": "@concat(item().Lista_Tablas)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"zona": "master",
										"directorio": "warehouse",
										"archivo": {
											"value": "@concat('FMV_',item().Lista_Tablas,'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "01_raw_source"
		},
		"annotations": []
	}
}